body {
    background-color: #00704A;

}

.sms {
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
}

table, th, td, tr{
    resize: both;
    margin: 60px auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    padding: 0px;
}

thead{
    border: 1px black solid;
    background-color: grey;
    color: white;
    width: 1000px;
}

.studentTable {
    background-color: white;
}

.navbar {
    background-color: black;
    border-color: 1px solid black;
}

.usererror {
    font-style: italic;
    color: red;
    font-size: 10px;
}

form {
    padding: 100px;
    margin: 60px auto;
    border: 1px solid black;
}

form input{
    width: 300px;
    background-color: white; }